# Importing Modules

In [3]:
import pandas as pd
import numpy as np
import xgboost as xgb 
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, make_scorer
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

# Using Dataset

In [7]:
df = pd.read_csv("Dataset\Telco_customer_churn.csv")

In [8]:
df.head()

   CustomerID  Count  ...  CLTV                   Churn Reason
0  3668-QPYBK      1  ...  3239   Competitor made better offer
1  9237-HQITU      1  ...  2701                          Moved
2  9305-CDSKC      1  ...  5372                          Moved
3  7892-POOKP      1  ...  5003                          Moved
4  0280-XJGEX      1  ...  5340  Competitor had better devices

[5 rows x 33 columns]

# Dropping unwanted columns

In [9]:
df.drop(["Churn Label", "Churn Score", "CLTV", "Churn Reason"], axis=1, inplace=True)
df.head()

   CustomerID  Count        Country  ... Monthly Charges Total Charges  Churn Value
0  3668-QPYBK      1  United States  ...           53.85        108.15            1
1  9237-HQITU      1  United States  ...           70.70        151.65            1
2  9305-CDSKC      1  United States  ...           99.65         820.5            1
3  7892-POOKP      1  United States  ...          104.80       3046.05            1
4  0280-XJGEX      1  United States  ...          103.70        5036.3            1

[5 rows x 29 columns]

In [10]:
df["Country"].unique()

<StringArray>
['United States']
Length: 1, dtype: str

In [11]:
df["Count"].unique()

array([1])

In [12]:
df["State"].unique()

<StringArray>
['California']
Length: 1, dtype: str

In [13]:
df["City"].unique()

<StringArray>
[    'Los Angeles',   'Beverly Hills', 'Huntington Park',         'Lynwood',
  'Marina Del Rey',       'Inglewood',    'Santa Monica',        'Torrance',
        'Whittier',        'La Habra',
 ...
      'Janesville',      'Litchfield',        'Loyalton',        'Madeline',
    'Markleeville',         'Milford',         'Calpine',        'Standish',
        'Tulelake',  'Olympic Valley']
Length: 1129, dtype: str

In [14]:
df.drop(["Count", "State", "Country", "CustomerID", "Lat Long"], axis=1, inplace=True)
df.head()

          City  Zip Code   Latitude  ...  Monthly Charges Total Charges Churn Value
0  Los Angeles     90003  33.964131  ...            53.85        108.15           1
1  Los Angeles     90005  34.059281  ...            70.70        151.65           1
2  Los Angeles     90006  34.048013  ...            99.65         820.5           1
3  Los Angeles     90010  34.062125  ...           104.80       3046.05           1
4  Los Angeles     90015  34.039224  ...           103.70        5036.3           1

[5 rows x 24 columns]

# Eliminating Whitespaces

In [16]:
df["City"] = df["City"].replace(' ', '_', regex=True)
df.head()

          City  Zip Code   Latitude  ...  Monthly Charges Total Charges Churn Value
0  Los_Angeles     90003  33.964131  ...            53.85        108.15           1
1  Los_Angeles     90005  34.059281  ...            70.70        151.65           1
2  Los_Angeles     90006  34.048013  ...            99.65         820.5           1
3  Los_Angeles     90010  34.062125  ...           104.80       3046.05           1
4  Los_Angeles     90015  34.039224  ...           103.70        5036.3           1

[5 rows x 24 columns]

In [17]:
df.columns = df.columns.str.replace(' ', '_')
df.head()

          City  Zip_Code   Latitude  ...  Monthly_Charges Total_Charges Churn_Value
0  Los_Angeles     90003  33.964131  ...            53.85        108.15           1
1  Los_Angeles     90005  34.059281  ...            70.70        151.65           1
2  Los_Angeles     90006  34.048013  ...            99.65         820.5           1
3  Los_Angeles     90010  34.062125  ...           104.80       3046.05           1
4  Los_Angeles     90015  34.039224  ...           103.70        5036.3           1

[5 rows x 24 columns]

# Identifying missing data

In [18]:
df.dtypes

City                     str
Zip_Code               int64
Latitude             float64
Longitude            float64
Gender                   str
Senior_Citizen           str
Partner                  str
Dependents               str
Tenure_Months          int64
Phone_Service            str
Multiple_Lines           str
Internet_Service         str
Online_Security          str
Online_Backup            str
Device_Protection        str
Tech_Support             str
Streaming_TV             str
Streaming_Movies         str
Contract                 str
Paperless_Billing        str
Payment_Method           str
Monthly_Charges      float64
Total_Charges            str
Churn_Value            int64
dtype: object

In [19]:
df["Phone_Service"].unique()

<StringArray>
['Yes', 'No']
Length: 2, dtype: str

In [ ]:
# df["Total_Charges"] = pd.to_numeric(df["Total_Charges"]) #Unable to parse string " " at position 2234 
# WE NEED TO DEAL WITH THIS LATER

ValueError: Unable to parse string " " at position 2234

# Dealing missing data

In [21]:
len(df.loc[df["Total_Charges"] == " "])

11

In [22]:
df.loc[df["Total_Charges"] == " "]

                City  Zip_Code  ...  Total_Charges  Churn_Value
2234  San_Bernardino     92408  ...                           0
2438    Independence     93526  ...                           0
2568       San_Mateo     94401  ...                           0
2667       Cupertino     95014  ...                           0
2856        Redcrest     95569  ...                           0
4331     Los_Angeles     90029  ...                           0
4687        Sun_City     92585  ...                           0
5104      Ben_Lomond     95005  ...                           0
5719        La_Verne     91750  ...                           0
6772            Bell     90201  ...                           0
6840      Wilmington     90744  ...                           0

[11 rows x 24 columns]

In [40]:
df["Total_Charges"] = df["Total_Charges"].replace(' ', 0)

In [41]:
df.loc[df["Tenure_Months"] == 0]

                City  Zip_Code  ...  Total_Charges  Churn_Value
2234  San_Bernardino     92408  ...              0            0
2438    Independence     93526  ...              0            0
2568       San_Mateo     94401  ...              0            0
2667       Cupertino     95014  ...              0            0
2856        Redcrest     95569  ...              0            0
4331     Los_Angeles     90029  ...              0            0
4687        Sun_City     92585  ...              0            0
5104      Ben_Lomond     95005  ...              0            0
5719        La_Verne     91750  ...              0            0
6772            Bell     90201  ...              0            0
6840      Wilmington     90744  ...              0            0

[11 rows x 24 columns]

In [43]:
df["Total_Charges"] = pd.to_numeric(df["Total_Charges"])
df.dtypes

City                     str
Zip_Code               int64
Latitude             float64
Longitude            float64
Gender                   str
Senior_Citizen           str
Partner                  str
Dependents               str
Tenure_Months          int64
Phone_Service            str
Multiple_Lines           str
Internet_Service         str
Online_Security          str
Online_Backup            str
Device_Protection        str
Tech_Support             str
Streaming_TV             str
Streaming_Movies         str
Contract                 str
Paperless_Billing        str
Payment_Method           str
Monthly_Charges      float64
Total_Charges        float64
Churn_Value            int64
dtype: object

In [44]:
df.replace(' ', '_', regex = True, inplace = True)

              City  Zip_Code  ...  Total_Charges  Churn_Value
0      Los_Angeles     90003  ...         108.15            1
1      Los_Angeles     90005  ...         151.65            1
2      Los_Angeles     90006  ...         820.50            1
3      Los_Angeles     90010  ...        3046.05            1
4      Los_Angeles     90015  ...        5036.30            1
...            ...       ...  ...            ...          ...
7038       Landers     92285  ...        1419.40            0
7039      Adelanto     92301  ...        1990.50            0
7040         Amboy     92304  ...        7362.90            0
7041  Angelus_Oaks     92305  ...         346.45            0
7042  Apple_Valley     92308  ...        6844.50            0

[7043 rows x 24 columns]

# Format Data X and y

In [45]:
X = df.drop("Churn_Value", axis = 1).copy()
X.head()

          City  Zip_Code  ...  Monthly_Charges  Total_Charges
0  Los_Angeles     90003  ...            53.85         108.15
1  Los_Angeles     90005  ...            70.70         151.65
2  Los_Angeles     90006  ...            99.65         820.50
3  Los_Angeles     90010  ...           104.80        3046.05
4  Los_Angeles     90015  ...           103.70        5036.30

[5 rows x 23 columns]

In [46]:
y = df["Churn_Value"].copy()
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Churn_Value, dtype: int64

# One-Hot Encoding

In [47]:
pd.get_dummies(X, columns = ["Payment_Method"]).head()

          City  ...  Payment_Method_Mailed_check
0  Los_Angeles  ...                         True
1  Los_Angeles  ...                        False
2  Los_Angeles  ...                        False
3  Los_Angeles  ...                        False
4  Los_Angeles  ...                        False

[5 rows x 26 columns]

In [49]:
str_cols = X.select_dtypes(include="str").columns
X_encoded = pd.get_dummies(X, columns = str_cols)
X_encoded.head()

   Zip_Code  ...  Payment_Method_Mailed_check
0     90003  ...                         True
1     90005  ...                        False
2     90006  ...                        False
3     90010  ...                        False
4     90015  ...                        False

[5 rows x 1178 columns]

In [50]:
# Final check with y
y.unique()

array([1, 0])